.postbod{
  background-color: white;
  margin: -8px auto 8px;
  width: 60%;
}
.postbody{
  width: 100%;
  background-color: white;
  margin: -8px 0px;
}
.invisible{
    height: 7px;
    width: 7px;
    border: none;
    display: flex;
    opacity: 1;
    background-color: transparent;
    translate: -50px;
    margin-bottom: -10px;
    visibility: visible;
    justify-content: center;
    position: absolute;
    top: 25px;
    left: 240px;
    border-radius: 10px;
    align-items: center;
    translate: -57px;
    cursor: pointer;
  
  }
  .invision{
    height: 7px;
    width: 7px;
    border: none;
    display: flex;
    opacity: 1;
    background-color: transparent;
    translate: -50px;
    margin-bottom: -10px;
    visibility: visible;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    translate: -57px;
    cursor: pointer;
  
  }
  
  .menu-button,
  .menu-button::after,
  .menu-button::before{
    width: 4px;
    height: 4px;
    position: absolute;
    background-color: black;
    content: '';
    border: none;
  }
  .menu-button::after{
    content: '';
    transform: translateX(-2px) translateY(8px);
  }
  .menu-button::before{
    content: '';
    transform: translateX(-2px) translateY(-8px);
  }
  .postflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    translate: 100px;
  }
  .postflexing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 150px;
  }
  .button-menu{
    display: none;
  }
  .postIma{
    border-radius: 100%;
    border: 2px solid blue;
    margin-top: -5px;
    translate: 60px;
  }
  .div27{
    translate: -190px;
    color: black;
    font-size: 14px;
    font-weight: bold;
  }
  .bloglink{
    text-decoration: none;
    color: black;
    margin-left: 150px;
    width: 50ch;
    margin-bottom: 40px;
    font-weight: bold;
  }
  .blogimg{
    margin: 40px auto;
    translate: 160px;
    cursor: pointer;
  }
  .buttonicon{
    background: transparent;
    margin: 60px auto;

  }
  .postim{
    translate: -80px;
    border: 2px solid blue;
    border-radius: 100%;
  }
  .btnicon{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    translate: -200px;
    background-color: rgb(236, 236, 236);
    margin: 60px 20px;
    width: 60px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline:  none;
    color: black;

  }

  .input{
    width: 250px;
    border-radius: 15px;
    margin: 10px auto;
    translate: 210px;
  }
  .editinput{
    width: 250px;
    border-radius: 15px;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    translate: 200px;
  }
  .edit{
    width: 60%;
    background-color: black;
    margin: 0px auto;
    height: 100vh;
  }
  .postsitem{
    display: flex;
    background-color: rgb(233, 233, 233);
    width: 230px;
    translate: 250px;
    flex-direction: column;
    padding: 2px 15px;
    margin-top: 10px;
    border-radius: 15px;
    position: relative;
    
  }
  .hide{
    display: none;
    margin-top: 0px;
  }
  .postparagr{
    margin-top: -15px;
    font-size: 9px;
  }
  .like{
    color: blue;
    cursor: pointer ;
    font-weight: bold;
    translate: -40px;
  }
  .dislike{
    translate: -40px;
    color: black;
  }
  .likereply{
    display: inline-flex;
    translate: -100px;
  }
  .delete-bar{
    margin: 20px;
    position: absolute;
    background-color: rgb(232, 232, 232);
    padding: 10px;
    border-radius: 15px;
    width: 20%;
    display: flex;
    left: 440px;
    margin-top: -220px;
    z-index: 1;
    flex-direction: column;
    background-color: none;
  }
  .postmenu{
    background-color: white;
  }
  .deletebutton{
    border: none;
    background-color: transparent;
    text-transform: capitalize;
    margin-top: -40px;
    transform: translateY(-5px);
    font-size: 17px;
    color: rgb(185, 182, 182);
    visibility: visible;
    opacity: 1;
  }
  .closed{
    background-color: black;
    color: white;
    border-radius: 100%;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 55px;
    left: 215px;
    margin-bottom: 30px;
    margin-top: 10px;   
  }
  .postflex{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .close-bar{
    display: none;
  }
  .menu-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,.8);
    width: 100%;
    z-index: 1;
    flex-direction: column;
    height: 100vh;
  }

  .menu-share{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,.8);
    width: 1000px;
    z-index: 1;
    flex-direction: column;
    height: 100vh;
  }
  .menu-shared{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,.8);
    width: 300px;
    z-index: 1;
    flex-direction: column;
    height: 50vh;
    transform: translateY(-110px);
    translate: 260px;
  }
  .menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,.8);
    width: 250px;
    z-index: 1;
    flex-direction: column;
    height: 50vh;
    transform: translateY(-40px);
    translate: 120px;
  }
  
  .menu-shares{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,.8);
    width: 300px;
    z-index: 1;
    flex-direction: column;
    height: 50vh;
    transform: translateY(-50px);
    translate: -60px;
  }
  .menu-shareds{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,.8);
    width: 300px;
    z-index: 1;
    flex-direction: column;
    height: 50vh;
    transform: translateY(-10px);
    translate: -60px;
  }
  .menu-shar{
    display: none;
    opacity: 0;
  }
  .blogflex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-backgroud{
    background-color: white;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }