.title{
    height: 9.5px;
    margin-top: 10px;
}
.text{
    margin-bottom: 5px;
    margin-top: 5px;
    height: 15px;
}
.width-100{
    width: 100%;
}
.width-70{
    width: 70%;
}
.width-100{
    width: 50%;
}
.skeleton{
    background-color: white;
    border-radius: 10px;
}
.animate-pulse{
    animation: 2s pulse cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse{
    50%{
        opacity: .5;
    }
}