.footer{
    color: black;
    border: none;
    outline: none;
    flex-direction: column;
    display: flex;
    margin: 10px 30px;
    width: 130px;
    padding: 5px;
    border-radius: 5px;
}
.foot{
    background-color: rgb(241, 237, 237);
    color: black;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 140px;
    border: none;
    border-radius: 10px;
    translate: -80px;
    margin-bottom: 10px;
}
.fo{
    translate: -5px;
    font-size: 14px;
    margin-top: -20px;
    color: red;
    text-decoration: none;
}
.fox{
    translate: 5px;
    transform: translateY(-18px);

}
.foo{
    color: red;
    background-color: transparent;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 20px;
    translate: -85px;
}
.rotate{
    rotate: 90deg;
}
.foote{
    background-color: rgb(247, 231, 231);
    translate: -80px;
    color: black;
    padding:0.5px 10px;
    border-radius: 5px;
    font-size: 12px;
    width: 150px;

}
.footee{
    margin-bottom: -4px;
}
.maindashboard{
    width: 66%;
    background-color: white;
    translate: 2px;
}   
.ulside{
    display: flex;
    flex-direction: column;
    translate: 50px;
    align-items: center;
    width: 10%;
}
.sidedash{
    font-weight: bold;
    font-size: 14px;
    padding: 7px;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

.sidedash:hover{
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    color: white;
    background-color: black;
    padding: 7px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}
.sidedashboard{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
}
.columnside{
    display: flex;
    flex-direction: column;
    translate: 180px;
    width: 0px;
    align-items: center;
}

.columnfoot{
    display: flex;
    flex-direction: column;
    translate: 290px;
    background-color: red;
    width: 0px;
    margin-top: 70px;
    align-items: center;
}
.main{
    background-color: white;
    border-radius: 5px;
    width: 270px;
    padding: 0 15px;
    margin: 10px 10px;
    translate: -115px;
    margin: 6px 1px -10px;
    color: black;
    border: 1px solid whitesmoke;
}
.main12{
    margin-left: 20px;
}
.main2{
    display: flex;
    margin-bottom: -15px;
    flex-direction: row;
    justify-content: space-between;

}
@keyframes appear {
    from {
        opacity: "1";
        transform: translateY(0%) ;
    }
}
.main3{
    margin-bottom: -15px;
    display: flex;
    flex-direction: row;
    margin-right: 90px;
    justify-content: space-between;
}
.main4{
    font-weight: bold;
    display: flex;
    margin-right: 99px;
    flex-direction: row;
    justify-content: space-between;
}
.main11{
    margin-left: 55px;
}
.main13{
    translate: 39px;
}
.small{
    font-size: 10px;
    color: green;
    translate: 10px;
    margin-top: 15px;
}
.small2{
    display: inline-flex;
}

.mainer{
    font-size: 13px;
    display: flex;
    align-items: center;
    flex-direction: row;   
    margin-top: -1px;    
    margin-bottom: -1px;
}

.count{
    margin-top: 15px;
    font-size: 20px;
    display: inline-flex;
    text-align: center;
}
.div1{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
    
}

.divblack{
    background-color: black;
    color: white;
    padding: 40px;
    border-radius: 10px;
  }
.div2{
    background-color: blue;
    height: 5px;
    width: 5px;
    margin-top: 16px;
    translate: -5px;
    border-radius: 100%;
    background-color: red;
}
.div5{
    background-color: blue;
    height: 5px;
    width: 5px;
    margin-top: 16px;
    translate: 10px;
    border-radius: 100%;
}
.div6{
    background-color: yellow;
    height: 5px;
    width: 5px;
    margin-top: 16px;
    translate: 20px;
    border-radius: 100%;
}
.div4{
    display: inline-flex;
}
.div3{
    font-size: 11px;
    translate: 0px;
}
.div7{
    font-size: 11px;
    translate: 15px;
}
.div8{
    font-size: 11px;
    translate: 25px;
}
.div24{
    translate: 35px;
    margin-top: 20px;
}
.div9{
    height: 100px;
    border: 16px solid rgb(240, 240, 240);
    width: 100px;
    border-radius: 100%;
    content: '';
    translate: -15px;
    display: block;
    position: relative;
}
.div10{
    height: 80px;
    border: 14px solid blue;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    top: 12px;
    border-top: 14px solid skyblue;
    border-left: 14px solid gold;
    left: -4px;
    content: '';
    display: block;
}
.div11{
    height: 56px;
    border: 14px solid rgb(240, 240, 240);
    width: 56px;
    border-radius: 100%;
    position: absolute;
    top: 23px;
    left:9px;
    content: '';
    display: block;
}
.div12{
    display: inline-flex;

}
.div13{
    display: inline-flex;
    margin-top: -25px;
    margin-bottom: -25px;
    
}
.div18{
    margin-top: -3px;  
    margin-bottom: 30px;  
}
.div14{
    translate: 35px;
}

.div15a{
    translate: 60px;
}
.div15b{
    translate: -40px;
}
.div15{
    translate: 40px;
}
.div15{
    display: inline-flex;
}
.div16{
    font-size: 10px;
    margin: 1px;
    translate: 5px;
}
.div17{
    background-color: rgb(118, 118, 247);
    padding: 20px;
    translate: 10px;
    color: white;
    width: 200px;
    margin-top: -90px;
    font-size: 13px;
    border-radius: 5px;
}
.div20{
    background-color: rgb(255, 102, 102);
    padding: 20px;
    color: white;
    margin-top: 5px;
    font-size: 13px;
    width: 200px;
    margin-right: 0px;
    translate: 10px;
    border-radius: 5px;

}
.div19{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div22{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    translate: 30px;
}
.div23{
    margin-right: 400px;
}

.div27i{
    font-size: 12px;
    color: black;
}
.div29{
    margin-left: 40px;
    background-color:rgba(248, 221, 221, 0.799);
    border-radius: 10px;
    padding: 3px;
    color:red;
}
.div29b{
    padding: 2px;
    margin-left: 40px;
    background-color:rgb(223, 249, 223);
    border-radius: 10px;
    text-align: center;
    color:green;

}
.div29a{
    margin-left: 40px;
}

.div28{
    border: 0.3px solid rgb(240, 240, 240);
    background-color: white;
    translate: -100px;
    width: 380px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    margin:2px -150px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.div30{
    display: inline-flex;
    background-color: rgb(249, 245, 245);
    margin-left: 2px;
    margin-bottom: 10px;
    width: 966px;
}
.div32{
    width: 20ch;
    font-weight: bold;
    translate: -240px;
}
.div33{
    translate: -200px;
}

.join{
    display:flex;
    background-color: red;
    width: 0px;
    align-items: center;
    justify-content: space-around;
}
.p{
    translate: 40px;
}
.div35{
    display: inline-flex;
    translate: -20px;
}
.div36{
    margin: 12px 0px 15px;
    translate: 0px;
    border-radius: 100%;
}
.sect{
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 12px;
    translate: 37px;
    padding: 10px;
}

    .progress article{
        -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1 ) forwards;
        animation: animate 1s cubic-bezier(1, 0, 0.5, 1 ) forwards;
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: scaleX(0);
        background-color: blue;
        transition: all 1s ;
        position: absolute;
        border-radius: 50px;
        height: 100%;
        
    }
    .progress article.animate{
        -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1 ) forwards;
        animation: animate 1s cubic-bezier(1, 0, 0.5, 1 ) forwards;

    }
    @-webkit-keyframes animate {
        100%{
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
    @keyframes animate {
        100%{
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }

.bar{

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;

}
.bar{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 40%;
    margin-top: -100px;
    rotate: 270deg;
    translate: -120px;
    gap: 20px;
    margin-top: 10px;
}
.data{
    margin-top: 25px;
}
.progress{
    width: 100%;
    height: 10px;
    background-color: rgb(222, 222, 250);
    border-radius: 50px;
    position: relative;
    margin: 12px;
    }
    .pro{
        width: 55%;
        position: relative;
    }
    .pro-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: -70px;
        margin-left: 30px;
        margin-bottom: -70px;
    }
.cona{
    display: inline-flex;
    gap: 15px;
    translate: 73px;
}
    .icons{
        width: 10px;
        margin-left: 5px;
        margin-bottom: -2px;
        height: 10px;
        font-weight: bold;
    }

    .icon{
        width: 20px;
        margin-right: 10px;
        margin-bottom: -6px;
        height: 20px;
    }
    .iconx{
        width: 15px;
        margin-left: 10px;
        margin-bottom: -3px;
        height: 15px;
    }
    .iconxi{
        width: 15px;
        margin-left: 10px;
        margin-bottom: -3px;
        height: 15px;
        text-align: center;
        translate: -4px;
    }
    .icoa{
        width: 20px;
        margin-right: 20px;
        margin-bottom: -28px;
        translate: -40px;
        height: 20px;
    }
    .icoan{
        width: 15px;
        margin-right: 20px;
        margin-bottom: -28px;
        translate: -40px;
        height: 15px;
        transform: translateY(-18px);

    }
    .icoab{
        width: 20px;
        margin-right: -20px;
        translate: -30px;
        height: 20px;
    }
    .ico{
        width: 20px;
        margin-bottom: -6px;
        margin-right: 5px;
        height: 20px;
    }
   