.menu-images{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 1020px;
    flex-direction: column;
    margin-top: -600px;
    transform: translateY(-1px);
    height: 120vh;
  }
  
  .position{
    position: relative;
  }
  .imageposition{
    visibility: hidden;
    opacity: 0;
  }
  .absolute{
    position: absolute;
    top: 230px;
    left: 160px;

    

  }
  .usersidebar{
    display: flex;
    flex-flow: row nowrap;
    height: 360vh;
    width: 83%;
    padding: 1px;

  }
  .usermain{
    background-color: white;
    translate: 50px;
    margin-top: 2px;
    height: 360vh;
  }
  .userimg{
    cursor: pointer;
    border: 3px solid blue;
    border-radius: 100%;
  }
  .namepara{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: -10px 0px 50px -50px ; 
  }
  .namepar{
    text-align: start;
    font-size: 15px;
    font-weight: bold;
    margin: -10px 0px 10px 150px ; 
  }
  .view{
    display: none;
    opacity: 0;
  }
  .viewname{
    text-align: start;
    font-size: 15px;
    font-weight: bold;
    margin: -10px 0px 10px 50px ; 
  }
  .namepa{
    cursor: pointer;
    color: blue;
  }
  .userflex{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
  }
  .userim{
    translate: 20px;
    border: 2px solid blue;
    border-radius: 100%;
  }
  .userhr{
    width: 60%;
    margin: 30px auto 20px;
    background-color: grey;
    content: '';
    translate: -65px;
    height: 2px;
  }