.postbod{
  background-color: var(--body_background);
  margin: -8px auto 8px;
  width: 100%;
}
.postbody{
  width: 100%;
  background-color: var(--body_background);
  margin: -8px;
  translate: 120px;
  height: 170vh;
}

.invisible{
    height: 7px;
    width: 7px;
    border: none;
    display: flex;
    opacity: 1;
    background-color: transparent;
    translate: -50px;
    margin-bottom: -10px;
    visibility: visible;
    justify-content: center;
    position: absolute;
    top: 25px;
    left: 290px;
    border-radius: 10px;
    align-items: center;
    translate: -57px;
    cursor: pointer;
  
  }
  
  .invision{
    height: 7px;
    width: 7px;
    border: none;
    display: flex;
    opacity: 1;
    background-color: transparent;
    translate: -50px;
    margin-bottom: -10px;
    visibility: visible;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    translate: -57px;
    cursor: pointer;
  
  }
  
  .menu-button,
  .menu-button::after,
  .menu-button::before{
    width: 4px;
    height: 4px;
    position: absolute;
    background-color: var(--body_color);
    content: '';
    border: none;
  }
  .bloglink
  .menu-button::after{
    content: '';
    background-color: var(--body_color);
    transform: translateX(-2px) translateY(8px);
  }
  .menu-button::before{
    content: '';
    background-color: var(--body_color);
    transform: translateX(2px) translateY(-8px);
  }
  .deletebutton
  .postflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 150px;
  }
  .button-menu{
    display: none;
  }
  .postIma{
    border-radius: 100%;
    border: 2px solid blue;
    margin-top: -5px;
    translate: -50px;
  }
  .div27b{
    translate: -190px;
    color: black;
    font-size: 14px;
    font-weight: bold;
  }
  .pte{
    text-decoration: none;
    color: var(--body_color);
    margin-left: 150px;
    width: 50ch;
    margin-bottom: -20px;
    font-weight: bold;
  }
  .menu-icon{
     display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    width: 900px;
    z-index: 1;
    flex-direction: column;
    height: 150vh;
    transform: translateY(-120px);
  }
  .cancelled{
    transform: translateY(-250px);
    translate: -230px;
    cursor: pointer;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
  }
  .disablemenu{
    visibility: hidden;
    opacity: 0;
  }
  .visible{
    visibility: visible;
    opacity: 1;
  }
  .blogimg{
    margin: 40px auto;
    translate: 160px;
    cursor: pointer;
  }
  .menu-share{
    display: flex;
    justify-content: center;
    align-items: center; 
    background: rgb(0,0,0,.8);
    width: 100%;
    z-index: 1;
    flex-direction: column;
    height: 100vh;
  }
  
.menu-menu{
  translate: -620px;
  margin-top: 60px;
}
.menu-me{
  translate: -200px;
  margin-top: 60px;
}
  .btn-flex{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    translate: -340px;
    background-color: rgb(236, 236, 236);
    margin: 60px 20px;
    width: 80px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline:  none;
    color: black;

  }
  .showlike{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    translate: -340px;
    background-color: rgb(236, 236, 236);
    margin: 60px 20px;
    width: 80px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline:  none;
    color: blue;

  }
  .menlike{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    translate: -340px;
    background-color: rgb(236, 236, 236);
    margin: 60px 20px;
    width: 80px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline:  none;
    color: black;

  }
  
  .btn-slex{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    translate: 0px;
    background-color: rgb(236, 236, 236);
    margin: 60px 20px;
    width: 80px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline:  none;
    color: black;

  }
  .btn-fles{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    translate: 400px;
    background-color: rgb(236, 236, 236);
    margin: 10px 20px 60px;
    width: 80px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline:  none;
    color: black;

  }
  .btn-fl{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(236, 236, 236);
    margin: 0px 20px 0px;
    width: 80px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline:  none;
    color: black;

  }
  .btn-flex{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    translate: -340px;
    background-color: rgb(236, 236, 236);
    margin: 60px 20px;
    width: 80px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline:  none;
    color: black;

  }
  
  .btnicons{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    translate: -340px;
    background-color: rgb(236, 236, 236);
    margin: 60px 20px;
    width: 80px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline:  none;
    color: black;

  }

  .btnicon{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    translate: 300px;
    background-color: rgb(236, 236, 236);
    margin: 60px 20px;
    width: 80px;
    padding: 5px;
    display: none;
    border-radius: 15px;
    transform: translateY(-600px);
    border: none;
    outline:  none;
    color: black;

  }
  .editinput{
    width: 250px;
    border-radius: 15px;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    translate: 200px;
  }
  .edit{
    width: 60%;
    background-color: black;
    margin: 0px auto;
    height: 100vh;
  }
  .postsitem{
    display: flex;
    background-color: rgb(233, 233, 233);
    width: 230px;
    translate: 250px;
    flex-direction: column;
    padding: 2px 15px;
    margin-top: 10px;
    border-radius: 15px;
    position: relative;
    
  }
  .hide{
    display: none;
    margin-top: 0px;
  }
  .postparagr{
    margin-top: -15px;
    font-size: 9px;
  }
  .postpara{
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
  }
  .like{
    color: blue;
    cursor: pointer ;
    font-weight: bold;
  }
  .dislike{
    color: black;
  }
  
  .likereply{
    display: inline-flex;
    translate: -100px;
  }
  .delete-bar{
    margin: 20px;
    position: absolute;
    background-color: rgb(232, 232, 232);
    padding: 10px;
    border-radius: 15px;
    width: 20%;
    display: flex;
    left: 440px;
    margin-top: -220px;
    z-index: 1;
    flex-direction: column;
    background-color: none;
  }
  .postmenu{
    background-color: white;
  }
  
  .deletebutton{
    border: none;
    visibility:visible;
    opacity: 1;
    background-color: transparent;
    text-transform: capitalize;
    margin-top: -50px;
    transform: translateY(-5px);
    position: relative;
    top: -5px;
    translate: 270px;
    font-size: 17px;
    color: rgb(185, 182, 182);
  }
  .closed{
    background-color: black;
    color: white;
    border-radius: 100%;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 55px;
    left: 235px;
    margin-bottom: 30px;
    margin-top: 10px;   
  }
  .closing-share{
    background-color: black;
    color: white;
    border-radius: 100%;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 100px;
    left: 90px;
    margin-bottom: 30px;
    margin-top: 10px;   
  }
  .icon-line{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    gap: 10px;
  }
  
  .close-bar{
    display: none;
  }
  .menu-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 88%;
    z-index: 1;
    flex-direction: column;
    margin-top: -600px;
    transform: translateY(1px);
    height: 150vh;
    translate: -40px;
  }
  .marginTop{
    display: none;
  }
  .blogflex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-backgroud{
    background-color: rgb(194, 14, 14);
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .postflex{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .linecount{
    translate: 200px;
    color: var(--body_color);
  }
  .linecounts{
    translate: 200px;
    color: var(--body_color);

  }
  
  .allpostblog{
    background-color: var(--body_background);
  }