body{
  background-color: rgb(131, 130, 130);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.gobutton{
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 3px;
  text-align: center;
  border: none;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  width: 100px;
  translate: 20px;
  margin-top: 20px;
} 
.div{
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 40px;
  width: 25%;
  margin: 3px auto;
} 
.divi{
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 80px;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 150px auto;
  
} 
.now{
  margin-top: -50px;
  display: flex;
  flex-direction: column;
}
.low{
  margin-top: 50px;
  
}
.Linknow{
  color: white;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
}
.Linknows{
  color: white;
  margin-top: 10px;
  padding: 10px;
}
.divs{
  background-color: rgb(253, 220, 216);
  color: black;
  font-size: 25px;
  padding: 20px;
  width: 27.5%;
  margin: 10px auto 0px;
} 
.Divs{
  background-color: rgb(253, 220, 216);
  color: black;
  font-size: 25px;
  padding: 10px 20px;
  width: 49.5%;
  margin: 10px auto 0px;
} 
.user{
  margin-top: 0px;
  text-transform: capitalize;
  margin-bottom: -110px;

} 
.users{
  margin-top: -190px;
  text-transform: capitalize;
  margin-bottom: -90px;

} 
.userp{
  margin-top: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
  transform: translateY(-80px);

} 
.userpwd{
  margin-top: 20px;
  transform: translateY(-80px);
  text-transform: capitalize;
  margin-bottom: 10px;

} 
.logininput{
  margin-bottom: -10px;
  padding: 12px;
  border-radius: 20px;
  background-color: white;
  border: white;
  width: 200px;
} 
.signin{
  transform: translateY(-80px);
  display: inline-flex;
}
.linksign{
  color: white;
  font-size: 20px;
  
} 
.links{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: all 2s ease-in-out;
  margin-right: 20px;
}
.links:hover{
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.liks{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: all 2s ease-in-out;
  margin-right: 30px;
}


p.instruction{
  color: white;
  font-size: 13px;
  opacity: 1;
  margin-bottom: 150px;

}
p.instructions{
  color: white;
  font-size: 13px;
  opacity: 1;
  margin-bottom: 120px;

}
p.hide{
 
  margin-bottom: -50px;
  opacity: 0;

}
p.offscreen{
  
  opacity: 0;

}
span.valid{
  opacity: 1;

}
span.hide{
  opacity: 0;
  margin-left: -35px;

}
span.invalide{
  opacity: 1;

}
span.validName{
  opacity: 1;

}
span.offscreen{
  opacity: 0;
  margin-left: -35px;

}
.butt{
  font-size: 20px;
  padding: 8px;
  border: none;
  border-radius: 20px;
  margin: 20px auto;
  width: 100px;
} 
.dive{
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 70px;
  width: 20%;
  margin: 3px auto;
} 
.usern{
  margin-top: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;

} 
.inputs{
  
  margin-top: 20px;
  padding: 12px;
  border-radius: 20px;
  background-color: white;
  border: white;
  width: 200px;
} 
.link{
  color: white;
  font-size: 25px;
  
} 
.liks:hover{
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

