body{
    background-color: grey;
    display: flex;
    flex-flow: column nowrap;
}

.section{
    background-color: var(--body_form);
    margin: -40px auto;
    color: var(--body_orderf);
    width: 40%;
    display: flex;
    height: 115vh;
    flex-flow: column wrap;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.formsection{

    background-color: var(--body_background);
    padding: 4px;
}
.input1{
    padding: 10px;
    border: 2px solid rgb(64, 64, 66);
    border-radius: 20px;
    width: 100px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.span1{
   display: flex;
   flex-direction: column;
}
.div1{
    display: flex;
    flex-direction: row ;
 }
 .label1{
    translate: 40px;
    font-size: 20px;
    color: var(--body_orderf);
    margin-top: 20px;
 }
 .label3{
    translate: 90px;
    margin-bottom: 10px;
 }
 .label2{
    translate: 30px; 
    font-size: 20px;
    color: var(--body_orderf);
    margin-top: 20px;
 }
.input2{
    padding: 10px;
    border: 2px solid rgb(64, 64, 66);
    width: 200px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.input3{
    width: 450px;
    padding: 10px;
    border: 2px solid rgb(64, 64, 66);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.input4{
    width: 450px;
    padding: 10px;
    border: 2px solid rgb(64, 64, 66); 
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 30px;
}
.input5{
    width: 300px;
    padding: 10px;
    border: 2px solid rgb(64, 64, 66);
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 30px;
}
.input6{
    padding: 10px;
    border: 2px solid rgb(64, 64, 66);
    width: 225px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 30px;
    width: 150px;
}
.input7{
    padding: 10px;
    border: 2px solid rgb(64, 64, 66);
    width: 225px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 30px;
}
.button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    border: none;
    outline: none;
    margin-top: 2px;
    margin-bottom: 10px;
}
.button:disabled{
    background-color: rgb(107, 107, 107);
    color: white;
    transform: translateY(1px);
}
input:disabled{
    background-color: rgb(107, 107, 107);
    color: rgb(196, 196, 196);
}
input:invalid{
    background-color: rgb(253, 253, 183);
}
.but{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(20px);
}
.ship{
    display: inline-flex;
    margin-top: 5px;
}
.pay{
    translate: 30px;
    margin-top: -3px;
}
.check{
    height: 25px;
    width: 25px;
    translate: 20px;
    margin-top: 25px;
    padding: 30px;
    border-radius: 20px;
}
.check1{
    height: 25px;
    width: 25px;
    translate: -5px;
    margin-top: 25px;
    margin-bottom: -20px;
    padding: 30px;
    position: relative;
    top: 25px;
    border-radius: 20px;
}
.remove{
    display: none;
}
::placeholder{
    color: black;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.step-flex{
    display: flex;
    width: 40%;
    margin: 5px auto 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: var(--body_step);
    padding: 15px;
}
.step{
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}
.border{
    width: 35px;
    height: 2px;
    position: absolute;
    left: 550px;
    top: 35px;
    background-color: white;
    transform: rotate(90deg);
    border-width: 0px 2px 0px 2px;
    content: '';
    display: block;
}
.border1{
    width: 35px;
    height: 2px;
    position: absolute;
    right: 550px;
    top: 35px;
    background-color: white;
    transform: rotate(90deg);
    border-width: 0px 2px 0px 2px;
    content: '';
    display: block;
}
progress{
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
    position: relative;
    margin: -25px auto -5px;
}
progress::-webkit-progress-bar{
    background-color: white;
    border-radius: 25px;
}
progress::-webkit-progress-value{
    background-color: rgb(141, 151, 219);
    border-radius: 25px;
}
progress::after{
    color: black;
    content: attr(value)'%';
    position: absolute;
    font-weight: bold;
}

.gobuttonform{
    background-color: var(--body_orderf);
    color: var(--body_order);
    font-size: 15px;
    padding: 3px;
    text-align: center;
    border: none;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    width: 100px;
    translate: 380px;
    cursor: pointer;
    margin-top: 20px;
    transform: translateY(65px);
}
