.orderflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row ;
    margin: 10px 20px;
}

.ordercolumn{
    background-color: var(--body_background);
    display: flex;
    height: 170vh;
    flex-direction: column;
}
.product{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: var(--body_order);
}
.imageorder{
    transform: translateY(18px);
    background-color: var(--body_cart);
    color: var(--body_filter);
    border-radius: 15px;

}
.order{
    padding: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cartbutton{
    background-color: orange;
    color: var(--body_color);
    padding: 10px;
    width: 150px;
    transition: all 2s ease-in-out;
    border: none;
}
.cartbutton:hover{
    background-color: black;
    color: var(--body_color);
    padding: 10px;
    width: 150px;
    border: none;
}
.cartFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--body_orders);
    padding: 10px;
    margin: 2px 20px;
}
.cartInline{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.removeButton{
    color: var(--body_orderf);
    background: var(--body_order);
    border: none;
    border-radius: 15px;
    padding: 12px;
}

.increase{
    color: var(--body_orderf);
    background: var(--body_order);
    padding: 8px;
    translate: 40px;
    border: none;
    border-radius: 15px;
}
.decrease{
    color: var(--body_orderf);
    background: var(--body_order);
    padding: 8px;
    border: none;
    translate: 40px;
    border-radius: 15px;
}
.quantity{
    color: var(--body_orderf);
    background: var(--body_order);
    padding: 8px;
    border: none;
    border-radius: 15px;
    translate: 40px;
}
.price{
    color: var(--body_orderf);
    translate: -40px;
    font-size: 20px;
    text-transform: capitalize;
}
.imagecart{
    background-color: transparent;
}

.total{
    margin: 20px;
    padding: 20px;
    color: var(--body_orderf);
    font-size: 20px;
}
.cartbackground{
    background: var(--body_color);
}
.shop{
    background-color: var(--body_color);
    border-radius: 10px;
    color: var(--body_colors);
    padding: 5px;
}
.filterbutton{
    translate: 140px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    width: 20ch;
    cursor: pointer;
}
.filterbutton{
    translate: 150px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--body_title);
    width: 20ch;
    cursor: pointer;
}
.iconsfilter{
    rotate: 360deg;
    translate: -5px; position: relative;
    top: 4px; 
    left: 20px;
}
.iconfilter{
    rotate: 180deg;
    translate: 15px;
    position: relative;
    top: -3px;
}
.activate{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 90px;
    border: none;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    color: var(--body_color);
    text-align: center;
    background-color: black;
}
.filter-button{
    background-color: var(--body_filter);
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 90px;
    border: none;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    color: var(--body_colors);
    text-align: center;
    transition: all 2s ease-in-out;
}
.filter-button:hover{
    background-color: var(--body_hover);
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 90px;
    border: none;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    color: var(--body_hovers);
    text-align: center;
    transition: all 2s ease-in-out;
}
