 
  #root{
    width: 100%;
    background-color: white;
    overflow: hidden;
  }
  .navHome{
    display: none;
    opacity: 0;
  }

  .nav{
    display: none;
  }
  .menu{
    display: block;
  }
  
  .menu-flex{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-1110vh);
    transition: 1s;
  }
  .nav{
    width: 0%;
    display: block;
    background-color: transparent;
  }
  .sidebar{
    height: 751vh;
  }
  body{
    width: 100%;
    background-color: transparent;

  }
  .actives{
    height: 900vh;
    transform: none;
    display: flex;
    margin-top: -128px;
    translate: -15px;
    align-items: center;
    width: 880px;
    transform: translateX(-430px);
    flex-direction: column;
    z-index: 1;
    transition: all 5s ease-in-out;
    background-color: rgb(69, 31, 120);
  }
  .close{
    position: absolute;
    top: 15px;
    border: none;
    border-radius: 10px;
    padding:15px;
    font-size: 20px;
    background-color: white;
    color: black;
    left: 20px;
  }
.side{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  translate: -250px;
}  
  .link{
    color: blue;

  }
  .button-bar{
    height: 32px;
    width: 32px;
    background-color: rgb(235, 235, 235);
    border: none;
    position: relative;
    display: flex;
    opacity: 1;
    visibility: visible;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    translate: -57px;
    margin-top: -100px;
  
  }
  
  .hide{
    opacity: 0;
    visibility: hidden;
  }
  .menu-button,
  .menu-button::after,
  .menu-button::before{
    width: 25px;
    height: 4px;
    position: absolute;
    background-color: black;
    border-radius: 10px;
    content: '';
    border: none;
  }
  .menu-button::after{
    content: '';
    transform: translateX(-12px) translateY(8px);
  }
  .menu-button::before{
    content: '';
    transform: translateX(-13px) translateY(-8px);
  }
  .ul{
    display: flex;
    flex-direction: row;
    translate: -290px;

  }
  .butto{
    translate: 20px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .inputsearch{
    display: none;
  }
  .icona{
    width: 75px;
    display: none;
    height: 40px;
    translate: -50px; 
    color: white;
    margin-top: -7px;     
    margin-bottom: -12px;   
  }
  .icon{
    translate: -10px;  
    color: black;
    margin-top: 2px;     
    margin-bottom: -12px;   
  }
  .iconb{
    color: black;
    margin-top: 2px;     
    margin-bottom: -12px;   
    translate: -40px;    
  }
  .iconc{
    color: black;
    margin-top: 2px;     
    margin-bottom: -12px;   
    translate: -70px;    
  }
  .icond{
    color: black;
    margin-top: 2px;     
    margin-bottom: -12px;   
    translate: -105px;    
  }
  .icone{
    color: black;
    margin-top: 2px;     
    margin-bottom: -12px;   
    translate: -135px;    
  }
  .logo{
    translate: -80px;
    display: none;
    width: 20px;
    height: 20px;
  }
  .loss{
    display: block;
    color: black;
    margin-top: -30px;
    translate: -60px;
    margin-right: 15px;
    visibility: visible;
    opacity: 1;
  }
  .los{
    translate: -80px;
    color: black;
    border: none;
    font-weight: bold;
    transform: translateY(-25px);
  }
  nav{
    background-color: white;
  }
  .sece{
    translate: -415px;
    color: black;
    padding: 2px;
    margin-top: 12px;
    margin-bottom: -12px;
  }
.tool{
  display: none;
}

.actives{
  opacity: 1;
  visibility: visible;
  
}
.h5{
  font-size: 20px;
  translate: -80px;
  margin-top: 70px;
  width: 96ch;
}
.ha5{
  font-size: 20px;
  translate: -100px;
  margin-top: 70px;
  width: 96ch;
}
.h6{
  font-size: 20px;
  translate: -100px;
  margin-top: 30px;
  width: 96ch;
}
.h1{
  font-size: 17px;
  translate: -50px;
  margin-top: 100px;
  width: 96ch;
}
.ha1{
  font-size: 17px;
  translate: -50px;
  margin-top: 70px;
  width: 96ch;
  margin-bottom: -10px;
}
.ha2{
  font-size: 17px;
  translate: -60px;
  width: 96ch;
  transform: translateY(-30px);
}
.h2{
  font-size: 17px;
  translate: -60px;
  margin-top: 60px;
  width: 96ch;
}
.h6a{
  font-size: 17px;
  translate: -85px;
  margin-top: 30px;
  width: 96ch;
}
.h4{
  font-size: 17px;
  translate: -90px;
  margin-top: 30px;
  width: 96ch;
}
.ocean{
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
}
.selected1{
  background-color: rgb(159, 159, 159);
  padding: 7spx;
  margin-bottom: 4px;
  margin-top: -12.5px;
  translate: 10px;
  border-right: 1px solid gray ;
}
.selected2{
  background-color: rgb(159, 159, 159);
  padding: 7spx;
  margin-top: -13px;
  margin-bottom: 4px;
}
.selected3{
  padding: 9spx;
  background-color: c;
  color: white;
  text-decoration: none;
  margin-bottom: 4px;
  margin-top: -13px;
  border-radius: 0px 15px 0px 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.li{
  border: solid rgb(206, 206, 206);
  border-width: 0px 1px 0px 0px ;
  padding: 12px;
  color: black;
  border-radius: 15px 0 0 0;
  margin-top: -13px;
  translate: 20px;
  margin-bottom: 3px;

}
.lis{
  border: solid rgb(237, 237, 237);
  padding: 14px;
  border-width: 0px 2px 0px 0px ;
  margin-top: -13px;
  color: black;
  margin-right: -5px;
  translate: 15px;
  margin-bottom: 3px;
}
.div{
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  align-items: center;
  justify-content: center;
}
.p{
  margin-top: 6px;
}
.pc{
  margin-top: -10px;
}
.pp{
  margin-top: 3px;
}
.pp2{
  margin-top: 3px;
  translate: -20px;
}
.input2{
  width: 200px;
  margin-top: 40px;
}
.inputs{
  translate: -20px;
}
.buttons{
  margin-top: -3px;
}
.oceans{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin: 18px 0px;
  translate: -15px;
}
.div2{
  margin-top: -90px;
}
.div21{
  color: white;
  background-color: black;
}
.home{
  width: 100%;
}
.sidebar{
        width: 100%;
}
.li2{
  text-decoration: underline;
  text-decoration-color: greenyellow;
  text-decoration-thickness: 5px;
  width: 35ch;
  translate: 40px;
}
.cp{
  translate: -12px;
}
.selecte{
  padding: 7px 2px;
  border-radius: 15px;
  margin-bottom: 4px;
  margin-top: -13px;
  translate: 0px;
  margin-right: 10px;
  margin-left: 10px;
  width: 20ch;
  text-align: center;
  background-color: black;
  color: white;
}
.btn{
  margin-top: 20px;
}
.int{
  translate: -9px;
}
.button{
  padding: 5px ;
  margin-right: -1px;
  translate: 5px;
  margin-bottom: 30px;
  font-size: 11px;
}
.selected{
  padding: 0px ;
  translate: 5px;
  height: 30px;
  background-color: black;
}
.ocean{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sperate{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seams{
  width: 54%;
  translate: 123px;
  margin: 30px 40px;
  background-color: white;
}
.scroll{
  display: inline-flex;
  translate: 80px;
}
.ratenot{
  display: none;
}
.pi{
font-size: 17px;
width: 50ch;
text-align: center;
translate: -125px;
}
.pii{
font-size: 12px;
translate: -65px;
width: 50ch;
text-align: center;
}
.piii{
font-size: 12px;
width: 50ch;
translate: -65px;
text-align: center;
}
.pi4{
  font-size: 12px;
  translate: 0px;
  text-align: center;
  }
  .pii2{
    font-size: 12px;
    translate: -65px;
    width: 50ch;
    text-align: center;
    }
.ha{
  translate: 100px;
  z-index: 1;
  font-size: 30px;
}
.fit{
  translate: -5px;
}
.h050{
  margin: 10px 20px;
  animation: 12s slides ease-in-out forwards infinite;
}
@keyframes slides {
  from{
    transform: translate(-280px);
  }
  to{
    transform: translate(680px);
  }
}
.sli{
  margin: 5px 10px;
}
.h001{
  font-size: 25px;
}
.h002{
  font-size: 25px;
  margin-top: 40px;

}
.h00{
  font-size: 25px;
}
.h003{
  font-size: 15px;
}
.h004{
  font-size: 15px;
  margin-top: 0px;
}
.h005{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h006{
  margin-top: 40px;
  translate: 75px;

}
.h010{
  translate: 70px;

}
.imag{
  width: 220px;
}
.h007{
  font-size: 15px;
}
.h008{
  font-size: 15px;
}
.h009{
  font-size: 15px;
}
.h013{

  width: 220px;
  translate: 30px;
}
.h014{

  width: 220px;
  translate: 30px;
}
.h0217{
  display: contents;
  flex-direction: column;
}
.h017{
  margin: 10px 20px;
}
.h018{
  font-size: 30px;
}
.h015{
  font-size: 35px;
}
.h016{
  font-size: 13px;
}
.buttis{
  margin-bottom: 40px;
}
.gregre{
  display: flex;
  flex-direction: row;
  animation: 10s slide ease-in-out infinite;
}
@keyframes slide {
  from{
    transform: translate(-580px);
  }
  to{
    transform: translate(380px);
  }
  }
.h0217a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h017a{
  margin: 10px 20px;
  translate: 0px;
}
.shii12{
  margin: 0px 30px;
  translate: -150px;
  width: 10%;
}
.items{
  translate: -50px;
}
.tes{
  translate: 0px;
  width: 30ch;
}
.hra1{
  width: 60%;
  translate: 20px;
  background-color: white;
}
.h056a{
  translate: -80px;
}
.h056{
  font-size: 25px;
  font-weight: bold;
}
.h057{
  font-size: 25px;
  font-weight: bold;
}
.h058{
  width: 100%;
}
.h062{
  padding: 10px;
  font-size: 15px;
}
.h061{
  font-size: 25px;
  font-weight: bold;
}
.h064{
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
}
.div021{
  font-size: 25px;
  width: 10ch;
  
}
.div023{
  width: 200px;
  translate: -10px;
}
.div025{
  display: flex;
  flex-direction: column;
}
.div024{
  translate: -12px;
  margin-top: 6px;
}
.div022{
  margin-top: 35px;
  width: 17ch;
  font-size: 17px;
  font-weight: bold;
}
.div016{
  font-size: 11px;
  display: flex;
  flex-direction: row;
  margin-top: -90px;
  align-items: center;
 color: white;
}
.div012i{
  font-size: 11px;
  display: inline-flex;
  align-items: center;
  color: white;
  margin: -20px 10px 4px 10px;
}

.wrapper{
  display: inline-flex;
}
.static{
color: white;
font-weight: bold;
width: 35px;
}
.dynamic{
margin-left: -15px;
height: 20px;
overflow: hidden;
line-height: 20px;
}
ol main::after{
content: '';
position: absolute;
height: 100%;
width: 100%;
left: 0;
border-left: 2px solid white;
background-color: black;
animation: typing 3s steps(57) infinite;
}
@keyframes typing{
100%{
  left: 100%;
  margin: 0 -25px 0 10px;
}
}
ol main{
position: relative;
margin-top: -1.5px;
}
ol{
list-style: none;
font-weight: bold;
color: white;
/*animation: topping 6s steps(3) infinite;
position: relative;
top: 0;*/
}
.spa{
  display: inline-flex;
}
.div019{
  background-color: black;
}