@media(max-width: 414px){
.inputsearch{
transform: translateX(-60px);
}
.button-bar{
transform: translateX(-60px);
}
.uls{
transform: translateX(-40px);
position: relative;
gap: 0px;
right: 50px;
}
.logo{
display: none;
opacity: 0;
visibility: hidden;
}
.div21{
max-width: 380px;
}
.lidiv{
max-width: 380px;

}
.seam{
max-width: 380px;

}
.h049{
max-width: 340px;
transform: translateX(-20px);
}
.h0217{
transform: translateX(20px);
}
.gregre{
transform: translateX(-70px);
}
.h0217a{
transform: translateX(20px);
}
.div019{
max-width: 390px;

}
.allmessage{
transform: translateX(-30px);
width: 800px;
}
.bloglink{
  transform: translateX(-90px);
  }
.messageFlex{
transform: translateX(90px);
}
.messimage{
transform: translateX(38px);
}
.menu-me{
transform: translateX(-38px);
}
.coo{
transform: translateX(60px);

}
.co{
transform: translateX(60px);

}
.commentinput{
transform: translateX(0px);

}
.commentnow{
position: relative;
right: 120px;
}
.allpost{
transform: translateX(0px);

}
.moveimgpost{
transform: translateX(10px);
}
.commentline{
position: relative;
right: 90px;
}
.postflexing{
transform: translateX(-25px);
}
.blogpostlink{
transform: translateX(-23px);
min-width: 40ch;
}
.blogimgvideo{
transform: translateX(-10px);
}
.div27b{
transform: translateX(0px);
}
.menu-coun{
transform: translateX(40px);

}
.blogmedialink{
position: absolute;
right: 100px;
transform: translateX(-170px);
}
.postflexing{
transform: translateX(80px);
}
.blogimgvideos{
transform: translateX(-5px);
}
.inputvideo{
transform: translateX(230px);
}
.postsitemvideo{
margin-left:  180px;
transform: translateY(100px);
}
.mainer{
display: flex;
flex-wrap: wrap;
width: 350px;
height: 100px;
margin-top: 10px;
gap: 5px;
}
.main{
min-width: 345px;
transform: translateX(-12px);
}
.divbla{
min-width: 305px;
transform: translateX(-10px);
}
.div4i{
transform: translateX(65px);
}
.div4ii{
transform: translateX(130px);
}
.div24{
transform: translateX(65px);
}
.sect{
transform: translateX(15px);
min-width: 360px;
}
.div17{
transform: translateX(-45px);
min-width: 340px;
}
.div20{
transform: translateX(-45px);
min-width: 340px;
}
.div32{
transform: translateX(-5px);
width: 40px;
}
.div33{
transform: translateX(200px);
}
.div28{
min-width: 350px;
transform: translateX(-50px);
}
}
@media(max-width: 360px){
  .seams{
    transform: translateX(22px);
  }
  .messimage{
    transform: translateX(-1px);
  }
  .blogimgpost{
    transform: translateX(-1px);

  }
}

@media(max-width: 412px){
  .inputsearch{
  transform: translateX(-30px);
  }
  .button-bar{
  transform: translateX(-10px);
  }
  .loss{
    transform: translateX(-10px);
    }
  .sece{
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .uls{
  transform: translateX(-130px);
  position: relative;
  margin-top: 30px;
  right: 250px;
  }
  .logo{
  display: block;
  opacity: 1;
  transform: translateX(70px);
  visibility: visible;
  }
  .div21{
  max-width: 380px;
  }
  .lidiv{
  max-width: 380px;
  
  }
  .seam{
  max-width: 380px;
  
  }
  
  .special{
    max-width: 0px;
    background-color: transparent;
  }
  .h049{
  max-width: 340px;
  transform: translateX(-20px);
  }
  .h0217{
  transform: translateX(20px);
  }
  .gregre{
  transform: translateX(-70px);
  }
  .h0217a{
  transform: translateX(20px);
  }
  .div019{
  max-width: 390px;
  
  }
  .allmessage{
  transform: translateX(-30px);
  width: 800px;
  }
  .bloglink{
    transform: translateX(30px);
    }
  .messageFlex{
  transform: translateX(90px);
  }
  .messimage{
  transform: translateX(38px);
  }
  .menu-me{
  transform: translateX(-38px);
  }
  .coo{
  transform: translateX(60px);
  
  }
  .co{
  transform: translateX(60px);
  
  }
  .commentinput{
  transform: translateX(0px);
  
  }
  .commentnow{
  position: relative;
  right: 120px;
  }
  .allpost{
  transform: translateX(0px);
  
  }
  .moveimgpost{
  transform: translateX(-20px);
  margin-right: 30px;
  position: relative;
  right: 30px;
  }
  .commentline{
  position: relative;
  right: 90px;
  }
  .postflexing{
  transform: translateX(-25px);
  }
  .blogpostlink{
  transform: translateX(-23px);
  min-width: 40ch;
  }
  .blogimgvideo{
  transform: translateX(10px);
  }
  .div27b{
  transform: translateX(0px);
  }
  .menu-coun{
  transform: translateX(40px);
  
  }
  .blogmedialink{
  position: absolute;
  right: 100px;
  transform: translateX(-170px);
  }
  .postflexing{
  transform: translateX(80px);
  }
  .blogimgvideos{
  transform: translateX(-5px);
  }
  .inputvideo{
  transform: translateX(230px);
  }
  .postsitemvideo{
  margin-left:  180px;
  transform: translateY(100px);
  }
  .mainer{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 100px;
  margin-top: 10px;
  gap: 5px;
  }
  .main{
  min-width: 345px;
  transform: translateX(-12px);
  }
  .divbla{
  min-width: 305px;
  transform: translateX(-10px);
  }
  .div4i{
  transform: translateX(65px);
  }
  .div4ii{
  transform: translateX(130px);
  }
  .div24{
  transform: translateX(65px);
  }
  .sect{
  transform: translateX(15px);
  min-width: 360px;
  }
  .div17{
  transform: translateX(-45px);
  min-width: 340px;
  }
  .div20{
  transform: translateX(-45px);
  min-width: 340px;
  }
  .div32{
  transform: translateX(-5px);
  width: 40px;
  }
  .div33{
  transform: translateX(200px);
  }
  .div28{
  min-width: 350px;
  transform: translateX(-50px);
  }
  }
 